Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
data = [4,8,15,16,23,42]

In [5]:
series = pd.Series(data)

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
series_from_list = pd.Series(my_list)

print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

      Name              Age              Gender
      Alice             25               Female
      
      Bob               30               Male
      
      Clarie            27               Female

In [9]:
data = {
          'Name':  ['Alice', 'Bob', 'Claire'],
          'Age': [25, 30, 27],
          'Gender': ['Female', 'Male', 'Female']
    
         }

In [10]:
df = pd.DataFrame(data)

In [11]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ans- In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It consists of rows and columns, similar to a spreadsheet or a SQL table. Each column in a DataFrame can hold data of different types (numeric, string, boolean, etc.), and each row represents a separate observation or record.

On the other hand, a Series is a one-dimensional labeled array in Pandas. It can hold data of the same type and is similar to a column in a DataFrame. Each element in a Series has an associated index, which can be used to access and manipulate the data.

Here's a more detailed explanation with an example to illustrate the differences between DataFrame and Series:

In [12]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [13]:
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')
print("Series:")
print(ages)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In the above example, the df DataFrame has multiple columns ('Name', 'Age', and 'Gender') and each column is essentially a Series. The ages Series only contains the 'Age' column's data. While a DataFrame is two-dimensional and contains multiple columns, a Series is one-dimensional and represents a single column of data. The key distinction is that a DataFrame can hold multiple Series objects (columns), providing a way to organize and manipulate tabular data more comprehensively.

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

ans-Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions along with examples of when you might use them:

1. Filtering Rows:
   - `df[df['column_name'] > value]`: Select rows based on a condition.
   - `df.query('column_name > value')`: Another way to filter rows using a SQL-like syntax.

   Example: You might use this to filter and display only the rows where the 'Age' column is greater than 25.

2. Sorting:
   - `df.sort_values(by='column_name')`: Sort the DataFrame based on a specific column.

   Example: You can sort the DataFrame based on the 'Age' column to arrange the rows in ascending or descending order of            age.

3. Grouping and Aggregation:
   - `df.groupby('column_name').aggregate_function()`: Group data based on a column and apply an aggregate function (sum,       mean, etc.).

    Example: You might group the data by 'Gender' and then calculate the average age for each gender group.

4. Adding Columns:
   - `df['new_column'] = value`: Add a new column with a specific value or computation.

   Example: You can calculate the age difference from a reference age and add it as a new column.

5. Applying Functions:
   - `df.apply(function_name, axis=1)`: Apply a function to each row or column.

   Example: You could define a function that calculates a derived value based on the values in multiple columns, and then    apply it row-wise.

6. Merging and Joining:
   - `pd.merge(df1, df2, on='common_column')`: Merge two DataFrames based on a common column.
   - `df1.join(df2)`: Join two DataFrames based on their indices.

   Example: If you have separate DataFrames for customer details and their orders, you can merge them to get a combined               DataFrame with customer information alongside their orders.

7. Handling Missing Data:
   - `df.dropna()`: Remove rows or columns with missing values.
   - `df.fillna(value)`: Fill missing values with a specified value.

   Example: If some rows have missing age values, you can choose to remove those rows or fill the missing ages with a
    default value.

8. Pivoting and Reshaping:
   - `df.pivot_table(index='index_column', columns='columns', values='values')`: Create a pivot table from a DataFrame.

   Example: You can create a pivot table to summarize and analyze data based on different dimensions.

9. Dropping Columns or Rows:
   - `df.drop('column_name', axis=1)`: Remove a specific column from the DataFrame.
   - `df.drop(index=row_index)`: Remove a specific row based on its index.

   Example: If a column contains redundant information, you can drop that column from the DataFrame.

These are just a few examples of the many functions Pandas provides to manipulate DataFrame data. Depending on your specific data analysis needs, you can choose the appropriate functions to transform, analyze, and visualize your data effectively.

Q6.Which of the following is mutable in nature Series, DataFrame, Panel?

ans-Among the options given, both Series and DataFrame are mutable in nature, while Panel is not. 

Series: A Pandas Series is mutable, meaning you can modify its values and other attributes after creation. For example,           you can change the values of elements in a Series, reassign its index, or update its name.

DataFrame: Similarly, a Pandas DataFrame is mutable. You can modify its columns, values, indices, and other attributes.              You can add or remove columns, change the values in cells, perform various operations, and reshape the                    DataFrame.

Panel: However, the Panel data structure has been deprecated in recent versions of Pandas and is no longer recommended          for use. In its place, Pandas suggests using multi-index DataFrames to handle higher-dimensional data.

Keep in mind that the concept of mutability refers to the ability to change the object's content after its creation. Both Series and DataFrame allow you to perform various operations and modifications on their contents, while Panel is not recommended for use anymore.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
#creating a series
names = pd.Series(['Alice',  'Bob', 'Clarie'])
ages = pd.Series([25,30,37])
gender = pd.Series(['Female', 'Male', 'Female'])

In [17]:
#creating a dataframe using series
data = {
    'Name': names,
    'Age': ages,
    'Gender': gender
}

In [ ]:
df=